"<div class='card mb-2 col-3 card-medicines'>"
        + "<a data-toggle='modal' href='#modall' style='width: 40%'><img class='card-img-top' src='" + medicine['url'] + "'></a>"
        + "<div class='card-block'>"
        + "<h4 class='card-title'>medicine['nombre']</h4>"
        + "<div class='meta'>"
        + "<a data-toggle='modal' href='#modal'>categoria aqui></a>"
        + "</div>"
        + "<div class='card-text'>"
medicine['efecto']
        + "</div>"

        + "<div class='collapse mt-2' id='collapseExample'>"
        + "<div class='card card-body'>"
        + "<div class='meta'>"
        + "<span class='mt-2'>Efecto Secundario</span>"
        + "</div>"
medicine['efecto_secundario']
        + "</div>"
        + "<div class='row mt-4'>"
        + "<div class='col-6'>"
        + "<div class='form-group'>"
        + "<input type='number' class='form-control' id='exampleInputPassword1' placeholder='Cantidad de cajas'>"
        + "</div>"
        + "</div>"
        + "<div class='col-6'>"
        + "<div class='form-check mt-2'>"
        + "<input type='checkbox' class='form-check-input' id='exampleCheck1'>"
        + "<label class='form-check-label' for='exampleCheck1'>Medicamento crónico</label>"
        + "</div>"
        + "</div>"
        + "</div>"

        + "<div class='form-group'>"
        + "<label for='comment'>Observación</label>"
        + "<textarea class='form-control' rows='5' id='comment'></textarea>"
        + "</div>"

        + "<div class='form-group'>"
        + "<label for='usr'>Número de chip:</label>"
        + "<input type='text' class='form-control' id='usr'>"
        + "</div>"
        + "<button name='id' value='' class='btn btn-outline-danger float-right btn-sm' data-toggle='collapse' data-target='#collapseExample'>Confirmar receta</button>"

        + "</div>"

        + "</div>"
        + "<div class='card-footer'>"
        + "<button name='id' value='' class='btn btn-outline-success float-right btn-sm' data-toggle='collapse' data-target='#collapseExample'>Recetar</button>"
        + "</div>"
        + "</div>"
