<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>My Pet Card</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="accordion.js"></script>
  <link rel="stylesheet" href="css.css">


</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark  user-navbar">
    <a class="navbar-brand" href="">MY PET CARD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="views/vet_add_pet_view.html">Añadir mascotas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="views/vet_add_med_view.html">Añadir medicametos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aaaaa">logout</a>
        </li>
      </ul>

    </div>
  </nav>



  <div class="container br-light  mt-4 minHeight">
    <form name="addProd" action="index.php?controller=products&action=insert" method="post">

      <div class="mb-3">

        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control mb-3" name="name" placeholder="Nombre mascota">
          </div>
          <div class="col">
            <input type="text" class="form-control" name="descShort" placeholder="Especie">
          </div>

        </div>

        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control mb-3" name="name" placeholder="DNI propietario">
          </div>
          <div class="col">
            <input type="text" class="form-control" name="descShort" placeholder="CHIP mascota">
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control mb-3" name="name" placeholder="TLF propietario">
          </div>
          <div class="col">
            <input type="text" class="form-control" name="descShort" placeholder="Fecha nacimiento (añadir)">
          </div>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline1" name="promotionedRadio" value="y" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline1">Macho</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline2" name="promotionedRadio" value="n" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline2">Hembra</label>
        </div>

      </div>

      <button class="btn btn-lg btn-light bg-primary text-white float-left" type="submit">Añadir</button>
      <a href="?index.php" class="btn btn-lg btn-light text-white float-right bg-danger">Salir</a>

    </form>
  </div>


</body>

</html>
