body, html {
  height: 100%;
}

body {
  background-color: #eeeeee !important;
}

.primary-bg {
  position: relative;
  /* The image used */
  background-image: url("../../imgs/wallpaper.jpg");
  /* Full height */
  height: 950px;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  position: absolute;
  width: 400px;
  font-size: 16px;
  margin-top: 370px;
  margin-left: 60px;
}

/* Reset top and bottom margins from certain elements */

.login-header, .login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-header {
  background: #F67280;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"], .login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */

.login input[type="email"]:focus, .login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #404B69;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */

.login input[type="submit"]:focus {
  border-color: #05a;
}

/* NAVBAR */

.mainpage{
  position: relative;
  width: 100%;
  background: #F67280;
  opacity: 0.8;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
  position: sticky !important;
  top: 0 !important;
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
}

.user-navbar{
  position: relative;
  width: 100%;
  background: #F67280;
  opacity: 0.8;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
  top: 0;
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
}


.navbar>ul {
  margin: 0px;
  padding: 0px;
}

.navbar>ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar>ul li a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  position: relative;
}

.navbar>ul li a::before {
  background: #fff none repeat scroll 0 0;
  bottom: -2px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 0%;
  transition: 0.5s;
}

.navbar>ul li a:hover::before {
  width: 100%;
}

/* bg2 */

.petCardUser{
  position: relative;
  width: 100%;
  height: auto;
  background: #F67280;
  font-family: 'Montserrat', sans-serif;
  min-height: 700px;
}

.petCardUser::before{
  position: absolute;
  width: 60%;
  height: 165px;
  content: '';
  top: -50px;
  left: 0;
  background: #F67280;
  transform: skewY(7deg);
}

.petCardUser::after{
  position: absolute;
  width: 60%;
  height: 165px;
  content: '';
  top: -50px;
  right: 0;
  background: #F67280;
  transform: skewY(-7deg);
}

.petCardUser h1{
  position: relative;
  text-align: center;
  color: white;
  z-index: 5;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.petCardUser h2{
  position: relative;
  text-align: center;
  color: white;
  z-index: 5;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.petCardExplain{
  position: relative;
  text-align: center;
  margin-top: 5%;
  color: white;
  width: 35%;
  z-index: 5;
  font-family: 'Montserrat', sans-serif;

}

/* petCardVet */

.petCardVet{
  background: #00b09b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
  min-height: 800px;
  position: relative;
}

.petCardVet::after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(4deg);
}

.petCardVet h1{
  position: relative;
  color: white;
  z-index: 1;
  background: rgba(0, 100, 100, 0.5);
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.petCardVet h2{
  position: relative;
  color: white;
  z-index: 1;
  background: rgba(0, 100, 100, 0.5);
  padding: 10px;
  font-family: 'Montserrat', sans-serif;

}

.petCardVet p{
  z-index: 1;
  position: relative;
  margin-top: 50px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.petCardVet img {
  position: relative;
  z-index: 1;
  margin-left: 20%;
  margin-top: 15%;
  width: 70%;
}

/* petCardFarm */

.petCardFarm{
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: auto;
  min-height: 500px;
  position: relative;
}

.petCardFarm::after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-4deg);
}

.petCardFarm h1{
  z-index: 1;
  position: absolute;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

.petCardFarm h2{
  z-index: 1;
  position: absolute;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

.petCardFarm p {
  position: absolute;
  z-index: 1;
  margin-top: 150px;
  font-family: 'Montserrat', sans-serif;
}

.petCardFarm img{
  position: relative;
  z-index: 1;
  width: 70%;
}

/* petCardLab */

.petCardLab{
  background: #a8c0ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 600px;
  position: relative;
}

.petCardLab h1{
  position: relative;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  z-index: 1
}

.petCardLab h2{
  position: relative;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  z-index: 1
}

.petCardLab p{
  position: relative;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  z-index: 1
}

.petCardLab img {
  position: relative;
  z-index: 1;
  width: 80%;
  margin-left: 25%;
  margin-top: 15%;
}

.petCardLab::after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-4deg);
}

/* Card */

html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

/* center-search */

.search-options{
  width: 20%;
  margin-left: 40%;
  border-radius: 1%;
}

/* left options */

.left-options{
    width: 20%;
    margin-left: 2%;
    margin-bottom: 1%;
    margin-right: 1%;
    border-radius: 1%;
    height: 100%;
}


/* accordion */

.main:before {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	content:'';
	background:-webkit-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
	background:-moz-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
	background:-o-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
	background:radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
}

.site-header-wrap {
	margin-bottom:60px;
	border-bottom:1px solid #cd9ad6;
}

/*------------------------------------*\
-------- DEMO Code: accordion
\*------------------------------------*/
/*----- Accordion -----*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:3px;
	background:#f7f7f7;
}

/*----- Section Titles -----*/
.accordion-section-title {
	width:100%;
	padding:15px;
	display:inline-block;
	border-bottom:1px solid #1a1a1a;
	background:#606470;
	transition:all linear 0.15s;
  font-family: 'Montserrat', sans-serif;
	/* Type */
	font-size:1.200em;
	color:#fff;
}

.accordion-section-title.active, .accordion-section-title:hover {
	background:#4c4c4c;
  color: #fff;
	/* Type */
	text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
	padding:15px;
	display:none;
}

/* checkbo */

@import('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css')

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}


/* acc searcher */

.acc-searcher{
  margin-bottom: 10%;
}


/* table */

.table{
  width: 99%;
}

#prueba{
  max-width: 4.333333% !important;
  flex: 4.333333% !important;
}

.card-block{
  min-height:180px
}


.card-img-top{
    min-height: 230px !important;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }



/* buttons */

.btn-primary{
  background-color: #fff !important;
  border-color: white !important;
  color: black !important

}

.btn-primary:hover {
  color: #fff;
  background-color: #F67280 !important;
  border-color: #F67280 !important;
  color: white !important

}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0, 0, 0, .5) !important
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #F67290 !important;
  border-color: #F67290 !important
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #F67290 !important;
  border-color: #F67290 !important
}

.btn-primary:not([disabled]):not(.disabled).active:focus, .btn-primary:not([disabled]):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}


/* table-graph */

.table-graph{
  margin-left: 36%;
}

/* footer */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h2{
	color:  #ffffff;
  font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.petCardUserCols{
  z-index: 4000;
}
